.under-header-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 3.7% 1% 7.5%;
}

.under-header-left-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px 10px;
    gap: 1rem;
    max-width: 100%;
    width: 560px;
}

.uh-introduction {
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 120%;
    color: #FFFFFF;
}

.uh-heading {
    font-family: 'Fredoka', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 2.5rem;
    line-height: 120%;
    color: #FFFFFF;
}

.uh-description {
    color: #FFFFFF;
    line-height: 120%;
    max-width: 471px;
}

.under-header-btn, a.under-header-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 3.2% 9.3%;
    background: #222222;
    border-radius: 8px;
}

.under-header-btn:hover, a.under-header-btn:hover {
    background-color: #111111;
}

.uh-btn, a.uh-btn {
    font-weight: 700;
    font-size: 1rem;
    line-height: 120%;
    color: #FFFFFF;
}

.under-header-right-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 10px 10px 20px;
    max-width: 560px;
    max-height: 330px;
}